* {
  margin: 0;
  font-family: "Recursive", sans-serif;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid #dc3d4b;
}

.header .header__left img {
  width: 50px;
  height: 50px;
  -webkit-transition: 500ms;
  transition: 500ms;
  margin-left: 40px;
}

.header .header__left img:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header .header__right .menu {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 50px;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-right: 40px;
}

.header .header__right .menu:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexHero {
  width: 100%;
  background-color: black;
  padding-top: 90px;
}

.indexHero img {
  width: 100%;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
}

.indexButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55.5vh;
  background-color: black;
}

.indexButtons button {
  color: white;
  width: 80%;
  height: 60px;
  margin-bottom: 7px;
  outline: none;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #dc3d4b;
}

.indexButtons button:hover {
  cursor: pointer;
  background-color: #dc3d4b;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  color: #dfdfdf;
  font-size: 20px;
  font-weight: bold;
}

.agentContainer {
  height: 700px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
}

.agentContainer .agentContainer__info {
  opacity: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  color: white;
}

.agentContainer .agentContainer__info:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(250, 68, 83, 0.603);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.agentContainer .agentContainer__info .agentContainer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.agentContainer .agentContainer__info .agentContainer__top img {
  width: 30px;
  margin-left: 20px;
}

.agentContainer .agentContainer__info .agentContainer__desc {
  height: 15%;
  padding: 20px 50px 0px 50px;
  margin-bottom: 10px;
}

.agentContainer .agentContainer__info .agentContainer__abilities {
  height: 75%;
}

.agentContainer .agentContainer__info .agentContainer__abilities .agentAbilityName {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 50px;
}

.agentContainer .agentContainer__info .agentContainer__abilities .agentAbilityDesc {
  font-size: 11px;
  margin-bottom: 10px;
  padding: 0 50px;
  font-style: italic;
}

.mainHeader {
  color: #dc3d4b;
  height: 60px;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  background-color: black;
  width: 100vw;
  padding-top: 100px;
}

.mapContainer {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
}

.mapContainer .coords {
  font-size: 12px;
  font-style: italic;
  color: #dfdfdf;
}

.mapContainer p {
  margin-bottom: 5px;
  margin-left: 2px;
  padding-top: 2px;
}

.weaponsContainer {
  color: white;
  height: 400px;
  width: 100%;
  background-color: black;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
  border-bottom: 3px solid #dc3d4b;
}

.weaponsContainer h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 200px;
  border: 1px solid #dc3d4b;
}

.weaponsContainerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 100%;
}

.weaponsContainerTop img {
  width: 50%;
}

.weaponsContainerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
}

.weaponsContainerBottom .bottom__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weaponsContainerBottom .bottom__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dc3d4b;
}

.menuOverlay {
  display: none;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  opacity: 0.9;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #dc3d4b;
  -webkit-animation: menuOverlayAnimation 500ms ease-in-out;
          animation: menuOverlayAnimation 500ms ease-in-out;
}

.menuOverlay button {
  color: black;
  width: 80%;
  height: 60px;
  margin-bottom: 7px;
  outline: none;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  font-size: 30px;
}

.menuOverlay button:hover {
  cursor: pointer;
  background-color: #dc3d4b;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  color: #dfdfdf;
  font-size: 30px;
  font-weight: bold;
}

.sprayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-bottom: 3px solid #dc3d4b;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
}

.sprayContainer h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 30px;
  background-color: #dc3d4b;
  width: 80%;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exit {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
}

.exit:hover {
  cursor: pointer;
}

.backToTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #dc3d4b;
  font-size: 30px;
  text-decoration: none;
  color: white;
  opacity: 0.35;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.backToTop:hover {
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.backToTop p {
  margin-top: 10px;
}

@-webkit-keyframes menuOverlayAnimation {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes menuOverlayAnimation {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes heroAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes heroAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=index.css.map */