* {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

// mixins

@mixin display-flex($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

// color variables

$hoverPrimaryBG: #dc3d4b;
$hoverPrimaryBGOP: rgba(250, 68, 83, 0.603);
$hoverPrimaryTxt: rgb(223, 223, 223);
$accent: rgb(255, 255, 255);

.header {
  @include display-flex(space-between);

  z-index: 1;
  width: 100vw;
  color: white;
  height: 8vh;
  background-color: black;
  border-bottom: 1px solid $hoverPrimaryBG;

  .header__left {
    img {
      width: 50px;
      height: 50px;
      transition: 500ms;
      margin-left: 40px;

      &:hover {
        cursor: pointer;
        transform: translateY(-3px);
      }
    }
  }

  .header__right {
    .menu {
      -webkit-filter: invert(100%);
      filter: invert(100%);
      width: 70px;
      transition: 300ms;
      margin-right: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.indexHero {
  width: 100%;
  background-color: black;
  padding-top: 90px;

  img {
    width: 100%;
    animation: heroAnimation 500ms ease-in;
  }
}

.indexButtons {
  @include display-flex(center);
  flex-direction: column;
  height: 55.5vh;
  background-color: black;

  button {
    color: white;
    width: 80%;
    height: 60px;
    margin-bottom: 7px;
    outline: none;
    border: none;
    transition: 300ms;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $hoverPrimaryTxt;
    &:hover {
      cursor: pointer;
      background-color: $hoverPrimaryBG;
      transform: translateX(10px);
      color: $hoverPrimaryTxt;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.agentsMain {
  display: flex;
  height: 92vh;
  background-color: rgb(0, 0, 0);

  .agentsMain__left {
    flex: 0.5;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;

    .agentContainer {
      height: 200px;
      width: 200px;
      margin: 10px;
      background-position: center;
      background-size: contain;
      transition: 300ms;
      animation: heroAnimation 1000ms ease-in-out;

      &:hover {
        transform: translateY(-3px);
        cursor: pointer;
        box-shadow: 5px 3px $hoverPrimaryBG;
      }

      .agentInformation {
        font-size: 30px;
        display: flex;
        color: white;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        transition: 300ms;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .agentsMain__left::-webkit-scrollbar {
    width: 5px;
  }

  .agentsMain__left::-webkit-scrollbar-thumb {
    background-color: $hoverPrimaryBG;
  }

  .agentsMain__right {
    color: $hoverPrimaryBG;
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;

    .agentMore {
      animation: heroAnimation 1000ms ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $hoverPrimaryBG;
      height: 100%;
      padding: 0 100px;

      img {
        width: 400px;
        margin-bottom: 20px;
      }

      .agentMore__name {
        font-size: 50px;
      }
    }
  }
}

.no-show {
  display: none;
}

.mapContainer {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  animation: heroAnimation 500ms ease-in;
  .coords {
    font-size: 12px;
    font-style: italic;
    color: $hoverPrimaryTxt;
  }
  p {
    margin-bottom: 5px;
    margin-left: 2px;
    padding-top: 2px;
  }
}

.weaponsContainer {
  color: white;
  height: 400px;
  width: 100%;
  background-color: black;
  animation: heroAnimation 500ms ease-in;
  border-bottom: 3px solid $hoverPrimaryBG;

  h1 {
    @include display-flex(center);
    height: 50px;
    width: 200px;
    border: 1px solid $hoverPrimaryBG;
  }
}

.weaponsContainerTop {
  @include display-flex(center);
  height: 50%;
  width: 100%;

  img {
    width: 50%;
  }
}
.weaponsContainerBottom {
  display: flex;
  height: 50%;
  width: 100%;

  .bottom__left {
    @include display-flex(center);
    flex: 1;
  }
  .bottom__right {
    @include display-flex(center);
    flex: 1;
    color: $hoverPrimaryBG;
  }
}

.menuOverlay {
  display: none;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $hoverPrimaryBG;
  animation: menuOverlayAnimation 500ms ease-in-out;

  button {
    color: rgb(0, 0, 0);
    width: 80%;
    height: 60px;
    margin-bottom: 7px;
    outline: none;
    border: none;
    transition: 300ms;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    font-size: 30px;
    &:hover {
      cursor: pointer;
      background-color: $hoverPrimaryBG;
      transform: translateX(10px);
      color: $hoverPrimaryTxt;
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.sprayContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-bottom: 3px solid $hoverPrimaryBG;
  animation: heroAnimation 500ms ease-in;
  h2 {
    @include display-flex(center);
    margin-bottom: 30px;
    font-size: 30px;
    background-color: $hoverPrimaryBG;
    width: 80%;
  }
}

//universal styling

.show {
  display: flex;
}
.exit {
  @include display-flex(center);
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.exit:hover {
  cursor: pointer;
}

.backToTop {
  @include display-flex(center);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $hoverPrimaryBG;
  font-size: 30px;
  text-decoration: none;
  color: white;
  opacity: 0.35;
  transition: 300ms;
  &:hover {
    opacity: 1;
    transform: translateY(-5px);
  }
  p {
    margin-top: 10px;
  }
}

.mainHeader {
  @include display-flex(center);
  color: $hoverPrimaryBG;
  height: 20px;
  text-decoration: underline;
  padding: 30px 0;
  background-color: black;
  width: 100vw;
  padding-top: 100px;
}

//keyframes

@keyframes menuOverlayAnimation {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes heroAnimation {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
