* {
  margin: 0;
  font-family: "Recursive", sans-serif;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

$hoverPrimaryBG: #dc3d4b;
$hoverPrimaryBGOP: rgba(250, 68, 83, 0.603);
$hoverPrimaryTxt: rgb(223, 223, 223);
$accent: rgb(255, 255, 255);

.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid $hoverPrimaryBG;

  .header__left {
    img {
      width: 50px;
      height: 50px;
      transition: 500ms;
      margin-left: 40px;

      &:hover {
        cursor: pointer;
        transform: translateY(-3px);
      }
    }
  }

  .header__right {
    .menu {
      -webkit-filter: invert(100%);
      filter: invert(100%);
      width: 50px;
      transition: 300ms;
      margin-right: 40px;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

.indexHero {
  width: 100%;
  background-color: black;
  padding-top: 90px;

  img {
    width: 100%;
    animation: heroAnimation 500ms ease-in;
  }
}

.indexButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 55.5vh;
  background-color: black;

  button {
    color: white;
    width: 80%;
    height: 60px;
    margin-bottom: 7px;
    outline: none;
    border: none;
    transition: 300ms;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid $hoverPrimaryBG;
    &:hover {
      cursor: pointer;
      background-color: $hoverPrimaryBG;
      transform: translateX(10px);
      color: $hoverPrimaryTxt;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.agentContainer {
  height: 700px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  animation: heroAnimation 500ms ease-in;

  .agentContainer__info {
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 500ms;
    transform: translateX(-20px);
    color: $accent;

    &:hover {
      opacity: 1;
      cursor: pointer;
      backdrop-filter: blur(5px);
      background-color: $hoverPrimaryBGOP;
      transform: translateX(0px);
    }
    .agentContainer__top {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10%;
      width: 100%;
      font-size: 30px;
      font-weight: bold;

      img {
        width: 30px;
        margin-left: 20px;
      }
    }

    .agentContainer__desc {
      height: 15%;
      padding: 20px 50px 0px 50px;
      margin-bottom: 10px;
    }
    .agentContainer__abilities {
      height: 75%;

      .agentAbilityName {
        font-weight: bold;
        margin-bottom: 10px;
        padding: 0 50px;
      }

      .agentAbilityDesc {
        font-size: 11px;
        margin-bottom: 10px;
        padding: 0 50px;
        font-style: italic;
      }
    }
  }
}

.mainHeader {
  color: $hoverPrimaryBG;
  height: 60px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-color: black;
  width: 100vw;
  padding-top: 100px;
}

.mapContainer {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  animation: heroAnimation 500ms ease-in;
  .coords {
    font-size: 12px;
    font-style: italic;
    color: $hoverPrimaryTxt;
  }
  p {
    margin-bottom: 5px;
    margin-left: 2px;
    padding-top: 2px;
  }
}

.weaponsContainer {
  color: white;
  height: 400px;
  width: 100%;
  background-color: black;
  animation: heroAnimation 500ms ease-in;
  border-bottom: 3px solid $hoverPrimaryBG;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border: 1px solid $hoverPrimaryBG;
  }
}

.weaponsContainerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;

  img {
    width: 50%;
  }
}
.weaponsContainerBottom {
  display: flex;
  height: 50%;
  width: 100%;

  .bottom__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $hoverPrimaryBG;
  }
}

.menuOverlay {
  display: none;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0.9;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: $hoverPrimaryBG;
  animation: menuOverlayAnimation 500ms ease-in-out;

  button {
    color: rgb(0, 0, 0);
    width: 80%;
    height: 60px;
    margin-bottom: 7px;
    outline: none;
    border: none;
    transition: 300ms;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    font-size: 30px;
    &:hover {
      cursor: pointer;
      background-color: $hoverPrimaryBG;
      transform: translateX(10px);
      color: $hoverPrimaryTxt;
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.sprayContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-bottom: 3px solid $hoverPrimaryBG;
  animation: heroAnimation 500ms ease-in;
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 30px;
    background-color: $hoverPrimaryBG;
    width: 80%;
  }
}

.show {
  display: flex;
}
.exit {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.exit:hover {
  cursor: pointer;
}

.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $hoverPrimaryBG;
  font-size: 30px;
  text-decoration: none;
  color: white;
  opacity: 0.35;
  transition: 300ms;
  &:hover {
    opacity: 1;
    transform: translateY(-5px);
  }
  p {
    margin-top: 10px;
  }
}

@keyframes menuOverlayAnimation {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes heroAnimation {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
