* {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  width: 100vw;
  color: white;
  height: 8vh;
  background-color: black;
  border-bottom: 1px solid #dc3d4b;
}

.header .header__left img {
  width: 50px;
  height: 50px;
  -webkit-transition: 500ms;
  transition: 500ms;
  margin-left: 40px;
}

.header .header__left img:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header .header__right .menu {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 70px;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-right: 30px;
}

.header .header__right .menu:hover {
  cursor: pointer;
}

.indexHero {
  width: 100%;
  background-color: black;
  padding-top: 90px;
}

.indexHero img {
  width: 100%;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
}

.indexButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55.5vh;
  background-color: black;
}

.indexButtons button {
  color: white;
  width: 80%;
  height: 60px;
  margin-bottom: 7px;
  outline: none;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dfdfdf;
}

.indexButtons button:hover {
  cursor: pointer;
  background-color: #dc3d4b;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  color: #dfdfdf;
  font-size: 20px;
  font-weight: bold;
}

.agentsMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92vh;
  background-color: black;
}

.agentsMain .agentsMain__left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

.agentsMain .agentsMain__left .agentContainer {
  height: 200px;
  width: 200px;
  margin: 10px;
  background-position: center;
  background-size: contain;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-animation: heroAnimation 1000ms ease-in-out;
          animation: heroAnimation 1000ms ease-in-out;
}

.agentsMain .agentsMain__left .agentContainer:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  cursor: pointer;
  -webkit-box-shadow: 5px 3px #dc3d4b;
          box-shadow: 5px 3px #dc3d4b;
}

.agentsMain .agentsMain__left .agentContainer .agentInformation {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agentsMain .agentsMain__left .agentContainer .agentInformation:hover {
  opacity: 1;
}

.agentsMain .agentsMain__left::-webkit-scrollbar {
  width: 5px;
}

.agentsMain .agentsMain__left::-webkit-scrollbar-thumb {
  background-color: #dc3d4b;
}

.agentsMain .agentsMain__right {
  color: #dc3d4b;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agentsMain .agentsMain__right .agentMore {
  -webkit-animation: heroAnimation 1000ms ease-in-out;
          animation: heroAnimation 1000ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #dc3d4b;
  height: 100%;
  padding: 0 100px;
}

.agentsMain .agentsMain__right .agentMore img {
  width: 400px;
  margin-bottom: 20px;
}

.agentsMain .agentsMain__right .agentMore .agentMore__name {
  font-size: 50px;
}

.no-show {
  display: none;
}

.mapContainer {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
}

.mapContainer .coords {
  font-size: 12px;
  font-style: italic;
  color: #dfdfdf;
}

.mapContainer p {
  margin-bottom: 5px;
  margin-left: 2px;
  padding-top: 2px;
}

.weaponsContainer {
  color: white;
  height: 400px;
  width: 100%;
  background-color: black;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
  border-bottom: 3px solid #dc3d4b;
}

.weaponsContainer h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 200px;
  border: 1px solid #dc3d4b;
}

.weaponsContainerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 100%;
}

.weaponsContainerTop img {
  width: 50%;
}

.weaponsContainerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
}

.weaponsContainerBottom .bottom__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.weaponsContainerBottom .bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #dc3d4b;
}

.menuOverlay {
  display: none;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #dc3d4b;
  -webkit-animation: menuOverlayAnimation 500ms ease-in-out;
          animation: menuOverlayAnimation 500ms ease-in-out;
}

.menuOverlay button {
  color: black;
  width: 80%;
  height: 60px;
  margin-bottom: 7px;
  outline: none;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  font-size: 30px;
}

.menuOverlay button:hover {
  cursor: pointer;
  background-color: #dc3d4b;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  color: #dfdfdf;
  font-size: 30px;
  font-weight: bold;
}

.sprayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-bottom: 3px solid #dc3d4b;
  -webkit-animation: heroAnimation 500ms ease-in;
          animation: heroAnimation 500ms ease-in;
}

.sprayContainer h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 30px;
  background-color: #dc3d4b;
  width: 80%;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.exit:hover {
  cursor: pointer;
}

.backToTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #dc3d4b;
  font-size: 30px;
  text-decoration: none;
  color: white;
  opacity: 0.35;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.backToTop:hover {
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.backToTop p {
  margin-top: 10px;
}

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dc3d4b;
  height: 20px;
  text-decoration: underline;
  padding: 30px 0;
  background-color: black;
  width: 100vw;
  padding-top: 100px;
}

@-webkit-keyframes menuOverlayAnimation {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes menuOverlayAnimation {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes heroAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes heroAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=index.css.map */